.btn
{
  @include border-radius(50px);
    padding:0 30px 0;
    line-height: 2.5;
    font-size: 18px;
    font-weight:$font-weight-medium;
    
    &:hover,
    &:focus
    {
        box-shadow: none;
        outline:0;
    }
    
    @include breakpoint(desktop)
    {
        font-size: 17px;
    }
} 
.large_btn
{
    min-width: 180px;
}
.normal_btn
{
    min-width: 180px;
}
.small_btn
{
    min-width: 130px;
}


.blue-btn
{
    background-color:$color-primary;
    border-color:$color-primary;
    color: $color-white;
    
    &:hover,
    &:focus
    {
        background-color:$color-secondary;
        border-color:$color-secondary;
         color: $color-white;
    }
}

.orange-btn
{
    background-color:$color-secondary;
    border-color:$color-secondary;
    color: $color-white;
    
    &:hover,
    &:focus
    {
        background-color:$color-primary; 
        border-color:$color-primary; 
        color: $color-white;
    }
}