
 /** RESET only css **/
* {
	margin: 0;
	padding: 0;
	&,
	&:after,
	&:before {
		@include box-sizing;
		font-kerning: none;
	}
}

label {
	font-weight: normal;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	@include appearance(none); 
	background-clip: border-box;
	margin: 0;
	outline: 0;
	vertical-align: top;
	width: 100%;
    
    &:focus
    {
       box-shadow: none !important; 
    }
}

input[type='checkbox'],
input[type='radio'] {
	width: auto;
	height: auto;
}

input[type='checkbox'] {
	appearance: checkbox;
}

input[type='radio'] {
	appearance: radio;
	vertical-align: -1px;
}

select[multiple],
select[size],
textarea {
	height: auto;
}
// remove dropdown for IE10

select::-ms-expand {
	display: none;
}
//remove IE11 select element selected option state

select:focus::-ms-value {
	background-color: transparent;
	color: inherit;
}
//Allow only vertical resizing of textareas

textarea {
	resize: vertical;
}
//remove search controls

input[type='search']::-webkit-search-decoration {
	display: none;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

a {
	color:#000;
	text-decoration: none;
	@include transition;
	&:hover,
	&:focus {
		color: #3f3f3f;
		text-decoration: none; 
	}
}

*:focus {
	outline: none !important;
}

img {
	max-width: 100%;
}

b,
strong {
	font-weight: bold;
}

em,
i {
	font-style:italic;
}

.clr {
	border: 0;
	clear: both;
	height: 0;
}

body,
html {
	width: 100%;
    height:100%;
    
     @include breakpoint(ipad)
        {
            height: auto;
        }
 }
body
{
    font-family:$futura-light;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: normal;
	margin: 0;
    padding: 0;
}
ul,ol,li
{
    list-style: none;
    margin: 0;
    padding:0;
}

/*h1, h2 {
	font-family: $serif;
}*/

.inline {
	display: inline-block !important;
}

.block {
	display: block !important;
}

.shown {
	display: inline-block;

	&.block {
		display: block;
	}
}

.hidden {
	display: none;
}

.relative {
	position: relative;
}

label
{
    margin-bottom: 0;
}

//Scrollbar styling for webkit
::-webkit-scrollbar { 
	min-width: 4px;
	width: 0.15%;
	max-width: 4px;
	height: 3px;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
	background: #171719;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-thumb {
	background: $color-primary;
}
// SVG reset
svg:not(:root) {
	height: 100%;
	width: 100%;
}



.wpcf7-response-output {
    padding: 15px !important;
    margin: 0 !important;
    border: 1px solid transparent !important;
    border-radius: 0;
    font-size: 15px;

    @include breakpoint(normal) { 
        & {
            font-size: 13px;
            padding: 10px !important;
        }
    } 
}

.wpcf7-validation-errors,
.wpcf7-acceptance-missing {
    color: #a94442; 
    background-color: #f2dede;
    border-color: #ebccd1;
} 

.wpcf7-mail-sent-ok {  
    color: #3c763d;
    background-color: #dff0d8; 
    border-color: #d6e9c6; 
}

input.wpcf7-not-valid {
    border-color: #f00 !important;
}
 
span.wpcf7-not-valid-tip {
    display: none !important;
}

.container
{
    @include breakpoint(xx-large)
    {
       max-width: 1370px;
    }
}

.section,
section
{
    padding:80px 0;
    
    @include breakpoint(desktop)
    {
        padding: 60px 0;
    }
    
    @include breakpoint(normal)
    {
        padding: 40px 0;
    }
    
    h2
    {
        font-size: 45px;
        color: $color-black;
        text-align: center;
        
         @include breakpoint(desktop)
            {
                font-size: 35px;
            }
        
        &:after  
        {
            content:'';
            display:block;
            margin:30px auto 0;
            width: 50px;
            height: 3px;
            background-color: $color-primary;
            
             @include breakpoint(desktop)
                {
                    margin:15px auto 0;
                }
        }
    }
}