.bg_grey
{
    background-color: $color-grey;
}

.borders
{
    border-color: $color-border-color;
    border-style: solid;
    
    &.b_1
    {
        border-width: 1px;
    }
    &.b_2
    {
        border-width: 2px;
    }
    &.b_3
    {
        border-width: 3px;
    }
    &.bb_1
    {
        border-bottom-width: 1px;
    }
     &.bb_2
    {
        border-bottom-width: 2px;
    }
     &.bb_3 
    {
        border-bottom-width: 3px; 
    }
}

.bg_transparent_blue
{
    background-color: transparent;
    
        &:hover,
        &:focus
        {
             background-color:$color-primary;
             border-color:$color-primary;
             color: $color-white;
        }
}
.bg_transparent_green
{
    background-color: transparent;

        &:hover,
        &:focus
        {
            background-color:$color-secondary;
            border-color:$color-secondary;
            color: $color-white;
        }
}
