 @import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
/*** Parameters ***/

// Colors
$color-primary: #1bb3f5; 
$color-secondary:#dd8d0e;
$color-secondary-light:#ffcf82;
$color-text:#373737;
$color-black:#000;
$color-white:#fff;
$color-grey:#f5f5f5; 
$color-border-color:#ced4da;


// Brand color
$color-facebook: #3b5998;
$color-feedly: #2bb24c;
$color-github: #333;
$color-google: #dc4e41; 
$color-instagram: #3f729b;
$color-linkedin: #0077b5;
$color-medium: #00ab6b;
$color-messenger: #0084ff;
$color-rss: #f26522;
$color-spotify: #2ebd59;
$color-twitter: #55acee;

// Font Size
$font-size-biggest: 2.8rem;
$font-size-largest: 2.3rem;
$font-size-large: 1.2rem;
$font-size-base: 1rem;
$font-size-small: .9rem;
$font-size-smallest: .75rem;

// Spacing
$spacing-small: .75rem;
$spacing-single: 1rem;
$spacing-double: 2rem;
$spacing-triple: 3rem;
$spacing-big: 6rem; 

// Media queries
$desktop: 800px;
$tablet: 600px;
$mobile: 480px;

// Font Family

$ashley-medium: 'Ashley-Medium';
$ashley-ligh: 'Ashley-Light';  
$futura-light:'FuturaPT-Light'; 


//font-weight
$font-weight-light:300;
$font-weight-normal:400;
$font-weight-medium:500;
$font-weight-semi-bold:600;
$font-weight-bold:700;

// Animation
$anime-in: .4s;
$anime-out: .5s;
