.adblue_main
{
    display: flex;
    height: 100%;
    
     @include breakpoint(normal)
        {
           width:100%; 
            flex-direction: column;
        }
        
    
    .adblue_comman
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 20px;
        
        @include breakpoint(ipad)
        {
            padding: 40px;
        }
        
    }
    
    .adblue_left
    {
        width: calc(100% - 775px);
        background-position: center top;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding: 40px;
        
        @include breakpoint(desktop)
        {
           width: calc(100% - 530px);  
        }
        
          @include breakpoint(normal)
            {
               width: calc(100% - 430px); 
            }
        
         @include breakpoint(ipad)
            {
               width: 100%; 
            }
        
         @include breakpoint(mobile)
            {
               padding:40px 20px;
            }
        
        &:after
        {
            content:'';
            position: absolute; 
            top:0; 
            left: 0;
            right: 0;  
            bottom: 0; 
            background-color: rgba(0, 0, 0, 0.2);
        } 
         
        .adblue_lt_inn
        { 
            position: relative; 
            z-index: 99;
        
            
            p
            {
                font-size: 22px;
                color: $color-white;
                margin-bottom: 15px;
                letter-spacing: 0.05em; 
                
                @include breakpoint(desktop)
                        {
                            font-size: 18px;
                           margin-bottom: 10px;
                        }
            }
            .logo_block
            {
                text-align: center;
                margin-bottom: 40px;
                
                 @include breakpoint(mobile)
                        {
                           margin-bottom: 20px;
                        }
            
              .site_logo 
                {
                    display: inline-block;
                    margin-bottom: 20px;


                    img
                    {
                         @include breakpoint(desktop)
                            {
                               max-width: 70%; 
                            }
                    }
                }
            }
            
            .adblue_left_content
            {
                padding: 0 10%;
                
                @include breakpoint(desktop)
                    {
                       padding: 0 4%;
                    }
                
                @include breakpoint(normal)
                    {
                        height: 320px;
                        overflow: auto;
                    }
                  @include breakpoint(ipad)
                    {
                        height: auto;
                    }
                .adblue_left_cont_head
                {
                    text-align: center;
                    margin: 20px 0;
                    display: inline-block;
                    
                     h3
                        {
                            font-size:30px;
                            color: $color-white;
                            margin-bottom: 10px;
                             font-family: $ashley-medium;
                            text-transform: uppercase;

                            &:after
                            {
                                content: '';
                                display: block;
                                width: 50px;
                                height: 3px;
                                margin:10px auto  0;
                                background-color: $color-white;
                            }

                        }
                }
               
            }
            .adblue_lt_list
            {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                
                  @include breakpoint(normal)
                    {
                        flex-direction: column;
                     }
                
                .adblue_lis_colnm
                { 
                    width: 48%;
                    
                      @include breakpoint(normal)
                        {
                             width: 100%;
                            margin-bottom: 30px;
                         }
                    
                    h3
                    {
                        font-size:25px;
                        color: $color-white;
                        margin-bottom: 10px;
                         font-family: $ashley-medium;
                        
                        @include breakpoint(mobile)
                            {
                                 font-size:23px;
                             }
                    }
                }
                li
                {
                    position: relative;
                    padding-left: 40px;
                    font-size: 22px;
                    color: $color-white;
                    margin-bottom: 15px;
                    
                    &:last-child
                    {
                         &:after
                            {
                              display: none;
                            }
                    }
                    
                       @include breakpoint(desktop)
                        {
                            font-size: 18px;
                           margin-bottom: 10px;
                             padding-left: 30px;
                        }
                    
                    &:before
                    {
                        content: '';
                        position: absolute;
                        top: 8px;
                        left: 0;
                        background-image: url(../images/tick-icon.png);
                        background-repeat: no-repeat;
                        background-position: center top;
                        background-size: 20px 19px;
                        width: 20px;
                        height: 20px;
                        
                         @include breakpoint(desktop)
                            {
                                top: 5px;
                            }
                    }
                    
                    &:after
                    {
                        content: '';
                        width: 100%;
                        height: 1px;
                        border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
                        margin-top: 10px;
                        display: block;
                    }
                }
            }
        }
    } 
    .adblue_right
    {
        max-width:775px;
        width: 100%;
        
         @include breakpoint(desktop)
            {
               max-width: 530px; 
            }
        
         @include breakpoint(normal)
            {
               max-width:430px; 
            }
        
        @include breakpoint(ipad)
            {
               max-width:100%; 
            }
        
        .adblue_rt_inner
        {
            text-align: center;
            max-width: 484px;
            width: 100%;
            
            @include breakpoint(ipad)
            {
               max-width:100%; 
            }
            
            h1
            {
                margin-bottom: 18px;
                 
                @include breakpoint(desktop)
                    {
                        margin-bottom: 10px;
                    }
                img
                {
                     @include breakpoint(desktop)
                        {
                          max-width:60%; 
                            
                             @include breakpoint(ipad)
                                {
                                    max-width: 230px;
                                }
                        }
                    
                }
            }
           
             h3
            {
                color: $color-text;
                font-size: 22px;
                font-family: $ashley-ligh; 
                line-height: 1.4;
                
                @include breakpoint(desktop)
                {
                    font-size: 18px;
                }
            }
        }
    }
    
    
}

.get_in_toch
{
    margin-top: 75px;
    
      @include breakpoint(desktop)
        {
            margin-top: 35px;
        }
    
    h4
    {
        font-size:20px;
        color: $color-text;
        font-family:$ashley-medium;
        text-transform: uppercase;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        span
        {
            margin: 0 20px;
            margin-top: -4px;
        }
        &:before,
        &:after
        {
            content: '';
            width: 29%;
            height: 1px;
            background-color:$color-secondary-light;
            
             @include breakpoint(normal)
                {
                     width: 20%;
                }
        }
    }
    
    .get_touch_form
    {
        max-width: 350px;
        width: 100%;
        display: block;
        margin: auto;
    }
    .get_touch_group
    {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        
        .sub_form_row
        {
            width: 49%;
        }
    }
    .submit_btn   
        {
            width: 100%;
        }
    
    .form-group
    {
        margin-bottom: 9px;
    }
    .form-control
    {
        font-size: 16px;
        background-color:$color-grey;
        height:44px;
        padding:0 20px;
        line-height: 2;
        border-color:transparent;
        
         @include breakpoint(desktop)
            {
                font-size: 15px;
            }
        
        &.left
        {
            border-top-left-radius: 50px;
            border-bottom-left-radius: 50px;
        }
        
        &.right
        {
             border-top-right-radius: 50px;
            border-bottom-right-radius: 50px;
        }
        
        &:hover,
        &:focus
        {
            border-color:$color-secondary-light;
        }
    }
}
