.thank_main_section {
   display: block;
   float: left;
   margin: 0 auto 0;
   padding: 0;
   position: relative;
   text-align: center;
   width: 100%;
    z-index: 99;
    
    .tahnk_you_box {
   display: block;
   padding: 102px 0;
   width: 100%;
        
    h1 {
        margin-bottom: 50px;
        
        i {
               border: 4px solid #2da725;
               border-radius: 100px;
               color: #2da725;
               font-size: 70px;
               height: 120px;
               line-height: 115px;
               width: 120px;
            }
        }
        
         p {
   background: rgba(115, 208, 156, 0.4) none repeat scroll 0 0;
   border: 1px solid #2da725;
   border-radius: 4px;
   color: #2da725;
   font-size: 18px;
   font-weight: 400;
   padding: 10px;
}
    }
}
